<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List User</title>
</head>
<body>

    <a href="/users/create">Create New User</a>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Date Of Birth</th>
            <th>Avatar</th>
            <th>Role</th>
        </tr>
        <tr th:block th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.dateOfBirth}"></td>
            <td><img th:src="@{'/i/'+${user.avatarUrl}}" width="50px"></td>
            <td th:text="${user.userRole.roleName}"></td>
        </tr>
    </table>

</body>
</html>